*{
    box-sizing: border-box;
}
body{
    background-color: #D9C7C5;
}
main > h1{
    text-align: center;
    font-size: xxx-large;
}
.form{
    margin: 4% 0;
    padding: 1% 0;
    background-color: white;
    text-align: center;
}
.cards{
    margin: 0 auto;
    width: 100%;
}
.card{
    width: 100%;
    margin: 4% auto;
    padding: 30px 0;
    background-color: #a69a8530;
}
.inputCont{
    margin: 0 3%;
    width: 400px;
    display: inline-block;
}
.inputCont > label, input, select{
    width: 90%;
}
.inputCont > input, select{
    margin: 20px 0;
    padding: 10px 2%;
    border: none;
    border-bottom: 2px solid #BF6A4B;
}
.card > .inputCont{
    display: inline-flexbox;
}
.inputCont > input:focus{
    outline: 2px solid #BF6A4B;
    border-radius: 5px;
}
.inputCont label{
    font-size: 28px;
}
.continue{
    font-size: large;
    margin: 5% auto;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    background: #BF6A4B;
}
.continue:active{
    color: #BF6A4B;
    border: 2px solid #BF6A4B;
    background: white;
}