*{
    box-sizing: border-box;
}
body{
    background-color: #D9C7C5;
}
main > h1{
    text-align: center;
    font-size: xxx-large;
}
.form{
    margin: 4% 0;
    padding: 5% 0;
    text-align: center;
    background-color: white;
}
.formSplit{
    display: flex;
    flex-wrap: wrap;
}
.inputCont{
    margin: 0 auto;
    width: 350px;
}
.inputCont > label, input, select{
    width: 80%;
    display: inline;
}
.inputCont > input, select{
    margin: 20px 0;
    padding: 10px 2%;
    border: none;
    border-bottom: 2px solid #BF6A4B;
}
.inputCont > input:focus{
    outline: 2px solid #BF6A4B;
    border-radius: 5px;
}
.inputCont label{

    text-align: left;
    font-size: 28px;
}
.inputPay{
    margin: 2% 10%;
    padding: 3% 0;
    background-color: #a69a856e;
}
.inputPay > label, input{
    display: inline-block;
}
.inputPay > input{
    width: 5%;
}
.continue{
    font-size: large;
    margin-top: 50px;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    background: #BF6A4B;
}
.continue:active{
    color: #BF6A4B;
    border: 2px solid #BF6A4B;
    background: white;
}